/*all document change BEGIN*/
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab&subset=latin,cyrillic-ext);
@font-face {
  font-family: Pacifico; /* Name of font */
  src: url(../fonts/Pacifico.ttf); /* including Pacifico Font */
}

*{
    text-decoration: none;
    margin:0;
    padding:0;
    
}
body{
  background:#ffffd1;
}

.blockstyle{/*Change annotatio, about, photos,order*/
  display:block;
  width:100%;
  margin-bottom:30px;
}

.label_style{
  font-family:Pacifico;
  font-size:300%;
  text-align:center;
}
/*all document change END*/
/*header code BEGIN*/
header{
  display: block;
	height:70px;
  width:100%;
  margin: 0px auto 5px;
  background-color:white;
  position:fixed;
  opacity:1;
}

nav{
  margin-top:6px;
  /*margin-right:auto;
  margin-left: auto;*/
  padding:0;
  list-style-type: none;
  /*width: auto;*/
  text-align: center;
}

nav li{
   display:inline;
}

nav li a{
  display: inline-block;
  width: 20%;
  height: 7%;
  padding: 9px 5px;
  margin:10px 0;
  border: 2px solid #616161;
  /*a font*/
  font-family: 'Roboto Slab', serif;
  font-size:110%;
  text-decoration: none;
  font-weight: 500;
  color:#01010B;
  opacity:1;
}

nav li a:hover{
 /* color:#d23a23;*/
  color:#d34;
}

#begin{
  /*width:40px;
  height: 40px;*/
  display: block;
  margin-top:14px;
  margin-left:20px;
  float:left;
  /*M font*/
  font-family:Pacifico;
  font-size:200%;
  color:#d34;
}
/*header code END*/
/*annotation code BEGIN*/
#annotation{  
  height: 350px; 
  background: #FF5D50;
  margin-top:0px;
  padding-top:130px;
  /*position: fixed;*/
}

.virginity{
  font-family:Pacifico;
  font-size:400%;
  font-weight:400;
  font-style: oblique ;
  text-align:center;
}

.annons{
  font-family: 'Roboto Slab', serif;
  font-size:150%;
  font-weight:250;
  text-align:center;
}

/*annotation code END*/
/*about code BEGIN*/
#about{
  /*height:580px;*/
  background: #FF9A6B;
  padding-top:20px;
  padding-bottom:25px;
  /*background: #F23C48;*/
  /*outline:3px solid #d12;*/
}
#about p{
  margin-top:20px;
  margin-left:35px;
  margin-right:35px;
  font-family: 'Roboto Slab', serif;
  font-size:120%;
  font-weight:250;
  text-align:center;
}

#about .label_style{
  margin-top:25px;
}
#I{
  display:block;
  margin:15px auto;
}

/*about code END*/
/*photos*/
#photos{
  height:550px;
  background: #FF9A6B;
}
/*photos code END*/
/*order code BEGIN*/
#order{
  height:550px;
  background: #FF9A6B;
}

#buy{
  height: 80px;
  width: 140px;
}
/*order code BEGIN*/
/*footer code BEGIN*/
footer{
  width: 100%;
  height:150px;
  padding-top:7px;
  background: #3d3d40;
  
}

.social{
  margin:0 auto;
  display: block;
  height:60px;
  width:220px;
  
}

footer .social a img{
  width: 60px;
  height: 60px;
  position:relative;
}

.soc{
  display: block;
  width: 60px;
  float:left;/*It is for fb and gp, vk has own float*/
  position:relative;
}

#gp{
  margin-left:20px;
}
#vk{
  float:right;
}

#copyright{
  color:white;
  text-align:center;
  font-size:100%;
  font-family:'Roboto Slab';

}
.gitprofile{
  margin-bottom:0;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}

.gitprofile a{
  font-family:Tahoma;
  font-size:150%;
  font-weight:bold;
  color:green;
}

/*footer code END*/



