*{
    text-decoration: none;
    margin:0;
    padding:0;
    
}

body{
   /*background-color:#FFE4CD;
   color:;*/
}

header{
  display: block;
	height:100px;
  width:100%;
  margin: 0px auto 5px;
  background-color:#FFE4CD;
  position:fixed;
}

nav{
   margin-top:10px;
   /*margin-right:auto;
   margin-left: auto;*/
   padding:0;
   list-style-type: none;
   /*width: auto;*/
   text-align: center;
}

nav li{
   display:inline;
}

nav li a{
   width: 20%;
   height: 7%;
   padding: 9px 5px;
   text-decoration: none;
   font-weight: bold;
   margin:10px 0;
   display: inline-block;
   border: 2px solid #616161;
   /*position: relative;*/
}

#begin{
  width:30px;
  height: 30px;
  display: block;
  margin-top:30px;
  margin-left:20px;
  background-color:#FFE433;
  float:left;

}

#annotation, #about, #photos, #order{
  display:block;
  width:100%;
  margin-bottom:30px;
}

#annotation{  
  height: 350px; 
  background: #d34;
  margin-top:0px;
  padding-top:130px;
  /*position: fixed;*/
}

#about{
  height:550px;
  background: #ade;
  /*outline:3px solid #d12;*/
}

#photos{
  height:550px;
  background: #e111cc;  
}

#order{
  height:550px;
  background: #a001ac;
}

footer{
  width: 100%;
  height:150px;
  background: #3d3d40;
  
}

footer .social a img{
  width: 60px;
  margin:0px 3px;
 /* height: 20%;*/
}

.social{
  margin:0% auto;
  display:block;
  height:63px;
  width:280px;
}

.gitprofile{
  margin-bottom:0px;
  margin-left:auto;
  margin-right:auto;
  /*display:block;*/
  height:70px;
  width:120px;

}

hr {
    color: #ff8; 
    background-color:#555; 
    border:0px none;
    height:2px; 
    clear:both; 
}

#buy{
  height: 80px;
  width: 140px;

}

.gitprofile a{
  font-family:Tahoma;
  font-size:150%;
  font-weight:bold;
  text-align:center;
  color:green;
}

.virginity{
  font-family:Arial;
  font-size:200%;
  font-weight:400;
  font-style: oblique ;
  text-align:center;
}

.annons{
 font-family:Tahoma;
  font-size:150%;
  font-weight:250;
  text-align:center;
}

#about p{
  font-family:Tahoma;
  font-size:130%;
  font-weight:250;
  text-align:center;
}

